<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% rated.each do |rated| %>
    <tr>
      <td><%= link_to rated.name, rated %></td>
      <td><%= round(rated.average_rating) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
