<li><%= link_to current_user.name, current_user %></li>
<li><%= link_to 'rate a beer', new_rating_path %></li>
<li><%= link_to 'join a club', new_membership_path %></li>
<li><%= link_to 'signout', signout_path, method: :delete %></li>
